{% extends "blog/base.html" %}
{% block content %}
<h2>All Posts</h2>
{% if user.is_authenticated %}
  <p><a href="{% url 'post-create' %}">Create New Post</a></p>
{% endif %}
<ul>
  {% for post in posts %}
    <li>
      <a href="{% url 'post-detail' post.pk %}">{{ post.title }}</a>
      {% if post.author == user %}
        | <a href="{% url 'post-update' post.pk %}">Edit</a>
        | <a href="{% url 'post-delete' post.pk %}">Delete</a>
      {% endif %}
    </li>
  {% empty %}
    <li>No posts yet.</li>
  {% endfor %}
</ul>
{% endblock %}
